# Various MySQL login parameters. Make sure to change the passwords.

MARIADB_ROOT_PASSWORD="change_me"
MARIADB_USER=nextcloud
MARIADB_USER_PASSWORD="change_me_too"

# NextCloud login parameters. Make sure to change the password here as well.

NEXTCLOUD_ADMIN_USER=admin
NEXTCLOUD_ADMIN_PASSWORD="change_me_aswell"

# Put your own domains here if you're hosting and/or reverse proxying (e.g. Caddy/Traefik) to the internet.

NEXTCLOUD_TRUSTED_DOMAINS="localhost"

# Container owner for unprivileged docker access.
# You may want to run NextCloud rootless, in which case you have to enable it in docker-compose.yml,
# edit this user (or create it) and give permissions to write to said user to the mounted volumes.
# It's generally good practice to do so, but doing it makes it less streamlined, so it's opt-in.

# CONTAINER_USER="1011:1011"